# √‚√≥: http://minhyeokism.tistory.com/67 [programmer-dominic.kim]


# =============== #
 
# Unity generated #
 
# =============== #
 
Client/Temp/
 
Client/Obj/
 
Client/UnityGenerated/
 
Client/Library/
 
 
 
# ===================================== #
 
# Visual Studio / MonoDevelop generated #
 
# ===================================== #
 
Client/ExportedObj/
 
Client/*.svd
 
Client/*.userprefs
 
Client/*.csproj
 
Client/*.pidb
 
Client/*.suo
 
Client/*.sln
 
Client/*.user
 
Client/*.unityproj
 
Client/*.booproj
 
 
 
# ============ #
 
# OS generated #
 
# ============ #
 
Client/.DS_Store
 
Client/.DS_Store?
 
Client/._*
 
Client/.Spotlight-V100
 
Client/.Trashes
 
Client/Icon?
 
Client/ehthumbs.db
 
Client/Thumbs.db
 
Client/GraphicsSettings.asset
 
Client/ProjectSettings.asset
 
Client/ProjectVersion.txt

#   _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
#  _/ ignore nodejs files - by gze1206 _/
# _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
Server/node_modules/